@import './base.css';
.sign-form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f8ff;
    border-radius: 30px;
}
.input {
    width: 100%;
    max-width: 300px;
    height: 45px;
    padding: 0 20px;
    font-size: 16px;
    background-color: #d4d2e3;
    border: none;
    border-radius: 30px;
    outline: 0;
}
.submit {
    min-width: 130px;
    height: 45px;
    margin: 35px 0 20px;
    padding: 0 15px;
    font-size: 15px;
    color: #ffffff;
    background-color: #5d5a88;
    border-radius: 47px;
    border: none;
    cursor: pointer;
}
.submit:hover {
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.icon {
    margin-left: 10px;
}